nvim/.config/nvim/plugin/packer_compiled.lua
zsh/.config/zsh/.zcompdump*
taskwarrior/.local/share/taskwarrior/*pem
taskwarrior/.local/share/taskwarrior/*data
taskwarrior/.local/share/taskwarrior/*log
.luarc.json
